

main {
  padding: 0px 20px 0px 20px;
}

@media (min-width: 1000px){
  .main_page_graph {
    display: inline-block;
    margin-left: 1%;
    width: 48%;
  }
  .single_value {
    display: inline-block;
    margin-right: 2%;
    margin-left: -4px;
    width: 32%;
    text-align: center;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 20px;
    height: 200px;
    padding-top: 20px;
  }
  .single_value:nth-of-type(3) {
    margin-right: 0;
  }
  .single_value_value {
    font-size: 70px;
  }
}

@media (max-width: 999px){
  .single_value {
    display: inline-block;
    margin-right: 2%;
    margin-left: -4px;
    width: 32%;
    text-align: center;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 20px;
    height: 150px;
    padding-top: 20px;
    overflow: hidden;
  }
  .single_value:nth-of-type(3) {
    margin-right: 0;
  }
  .single_value_value {
    font-size: 45px;
  }
}

@media (max-width: 700px){
  .single_value {
    display: block;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 20px;
    height: 180px;
    padding-top: 20px;
  }
  .single_value_value {
    font-size: 60px;
  }
}

.subtitle {
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  text-align: center;
}

.chart_title {
  text-align: center;
  font-size: 30px;
  padding: 5px 0 5px 0;
  border: 5px solid rgba(0,0,0,0.05);
}

.domain {
  stroke: none;
}

#welcome {
  padding-top: 60px; 
  text-align: center;
  margin-bottom: 40px;
}

.single_value_title {
  font-size: 20px;
}

.tick line {
  stroke: none;
}

.chart_container {
  width:100%;
  height:60%;
  border: 1px dotted silver;
}

#no_upcoming_shows {
  margin-bottom: 20px;
}

/* table formatting */

.tableTitle {
  width:90%;
  text-align:center;
  margin: 50px 5% 20px 5%;
}

.rTable {
  display: table;
  width:90%;
  margin: 20px 5% 20px 5%;
}

.rTableRow {
  display: table-row;
}

.rTableCell, .rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid black;
}

.rTableHead {
  background: black;
  color: white;
  font-weight: bold;
}

.small_cell {
  width: 15%;
}

div.rTable > div.rTableRow:nth-of-type(odd) {
  background: rgba(0,0,0,0.05);
}