{% include "header.html" %}

{% block content %}
<head>
    <title>Cellar Scraper</title>
    <!-- Custom local CSS -->
    <!-- <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="basic.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "/static/css/style.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
      var frequent_comedians = {{ frequent_comedians|tojson }}
      var unique_comedians = {{ unique_comedians|tojson }}
      var dry_spell_comedians = {{ dry_spell_comedians|tojson }}
    </script>
</head>
<main id="main" style = "overflow-x: hidden">

  <!-- <datalist id="comedians">
    {% for comedian in unique_comedians %}
      <option value="{{comedian.comedian_name}}">
    {% endfor %}
  </datalist> -->

  <div id = "welcome">
    <h2>Welcome to Cellar Scraper!</h2>
    <p class = "subtitle">
      Every night, we collect the latest <a href="http://comedycellar.com/">Comedy Cellar</a> listings in order to alert you when your favorite comedians are added and provide charts and stats to help you plan your visit.
    </p>
  </div>

  <div id = "top_comedians" class = "main_page_graph">
    <h2>Top 10 Comedians by Number of Shows</h2>
  </div>

  <div id = "dry_spells" class = "main_page_graph">
    <h2>Comedians with the Longest Dry Spell</h2>
  </div>

  <div style = "text-align:center">
    <div id = "signup_btn" onclick = "show_signup_form()">
      <h2 style = "color:white; margin:0px !important">Sign Up</h2>
      <p class = "subtitle">to follow your favorite comedians</p>
      <!-- <div id = "selected_comedians">
      </div>
      <input id = "signup_comedian_search" type = "search" autocomplete = "on"></input> -->
      <!-- list = "comedians" -->
    </div>
  </div>

  <div id = "overlay">
    <div id = "signup_form">
      <div id = "exit_form" class = "button_circle" onclick = "reset_form()">X</div>
      <h2 style = "text-align:center" >Sign Up</h2>
      <p class = "subtitle" style = "text-align:center" >to follow your favorite comedians</p>
      <div id = "selected_comedians" style = "min-height:65px"></div>
      <div>
        <p class = "form_label">Comedian Names (Select from dropdown)</p>
        <input id = "signup_comedian_search" type = "search" autocomplete = "on" class = "text_input"></input>
      </div>
      <br style = "height: 20px"/>
      <div>
        <p class = "form_label">Your Email</p>
        <input id = "user_email" class = "text_input"></input>
      </div>
      <div value = "Submit" id = "form_submit">
        Submit
      </div>
      <!-- list = "comedians" -->
    </div>
  </div>

<!--   <div class="rTable">
    <div class="rTableRow">
      <div class="rTableHead" style="width: 200px">Name</div>
    </div>
    {% for comedian in unique_comedians %}
      <div class="rTableRow">
        <div class="rTableCell">{{comedian.comedian_name}}</div>
      </div>
    {% endfor %}
  </div> -->

</main>
{% endblock %}

{% include "libraries.html" %}
