{% include "header.html" %}

{% block content %}
<head>
    <title>Cellar Scraper</title>
    <!-- Custom local CSS -->
    <!-- <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="basic.css"> -->
    {% include "datadog_rum.html" %}
    
    <link rel= "stylesheet" type= "text/css" href= "/static/css/trends.css">
</head>
<main id="main" style = "overflow-x: hidden">

<div id = "welcome">
  <h2>Unsubscribe Successful!</h2>
</div>

</main>
{% endblock %}

{% include "libraries.html" %}