{% include "header.html" %}

{% block content %}
<head>
    <title>Cellar Scraper</title>
    <!-- Custom local CSS -->
    <!-- <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="basic.css"> -->
    
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
      var email = "{{email}}"
      var subscriptions = {{ subscriptions|tojson }}
    </script>
    <link rel= "stylesheet" type= "text/css" href= "/static/css/trends.css">
</head>
<main id="main" style = "overflow-x: hidden">

<div id = "welcome">
  <h2>Unsubscribe</h2>
  <p class = "subtitle">
    Select which emails you would like to unsubscribe from
  </p>
</div>

<form>
  <input type="checkbox" style="margin-bottom: 10px" value="all" id="all_comeds"> All Emails</input>
  <div>Individual comedians:</div>

  {% for subscription in subscriptions %}
    <div style = "padding-left: 20px">
      <input type="checkbox" value="{{subscription.comedian_name}}" class="individ_comed"> {{subscription.comedian_name}}</input>
    </div>
  {% endfor %}
  
  <div style="margin-top: 10px; background-color: black; color: white" id="unsubscribe_submit">Submit</div>
</form>

</main>
{% endblock %}

{% include "libraries.html" %}
<script type="text/javascript" src="/static/js/unsubscribe.js"></script>